<a href="https://colab.research.google.com/github/lettileite/Assignment_Website/blob/master/CAI402_PythonSyntax_FromYoobee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Syntax**\
Syntax in terms of a programming language, we mean what is allowed and what is forbidden when we write code. You can think of Phyton's Syntax as its "grammar" which must be followed by the programmer - otherwise a syntax error will be generated whne the code is executed.

In [ ]:
print("Hello)

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-1371898898.py, line 1)

**Statements and Statement Blocks** \
A Python program consists of a series of individual statements, which may consist of one line, or a block of connected lines of code. For Python to be able to execute the code as intended, adhering to the syntax standards is essential.

In [ ]:
print("Hello World!")
print("More complex code is structures into statement blocks, consisting of a statement \
header and statement body, whiuch contains further statments.")

Hello World!
More complex code is structures into statement blocks, consisting of a statement header and statement body, whiuch contains further statments.

**Wrap long lines**\
While it is a feature of Python to be written as simply and legibly as possible, and it is recommended to keep statements to one line only, sometimes it is necessary to write statements which are longer than one line. There are two different ways of splitting a statement of code over more than one line:

* Use parantheses (brackets):

In [ ]:
var = (
    10
    +
    10
)
print(var)

20

* Use backslash (\\):

In [ ]:
var \
= \
10
...
var2 = (var * 2)
print(var, "times 2 =", var2)

10 times 2 = 20

**Variables**\
A variable is like a container in the computer's memory with a label attached to it, in which you can store information. You give it its name and using that name you can access or change the information inside the container.\
Creating a variable in Python is easy, and unlike other programming languages, you don't need to delcare it in advance (i.e. define it in advance of you needing to use it). The way you declare and assign a value to a variable is by using the = operator:

In [ ]:
nyname = "Alex" # This statement assigns the string "Alex" to a variable called nyname
myage = 25 # This statement assigns the integer 25 toa a variable called myage
myheight = 1.75 # gthis statement assigns the floating number 1.75 to a variable called myheight

**Rules for Variables**\
Python has rules about how to name variables:
* variable names must start with a letter or an underscore (_)
* variable names may contain numbers, letters and underscores
* varialbe names must not contain spaces or special symbols (!,@ or -)
* variable names must not use Python keywordslike print, if, while etc)

In [ ]:
# Valid examples:

user_name = "John"
total12 = 100
_height - 1.8

In [ ]:
#invalid examples:

2total = 100 # invalid because starts with a number
# SyntaxError: invalid decinmal literal

user-name = "Jo" # contains a dash - invalid
# SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='?

class = "A" # invalid because "class" is a reserved Python keyword
# SyntaxError: invalid syntax

**Updating variables**\
It is possible to change the value of a varialbe at any time by directly assigning it a new value, or by using it in calculations.

In [ ]:
# Python example 1:

score = 5
score = 10
print(score) #displays "10" as this is the current value if "score"

10

In [ ]:
# Python example 2:

x = 5
y = 10
total = x + y
print(total) # displays "15" which is the new calculated value of "total"

15

In [ ]:
# Python example 3:

first_name = "Sam"
greeting = "Hello, " + first_name
print(greeting) # displays "Hello, Sam"

Hello, Sam

**Variables Data Types and Literals**\
In Python, every variable holds a value, and each value belongs to a type. When it is assigned a specific value to a variable, that value is called a **literal**. Python figures out the type of varialbe automatically, based on the literal you give it, e.g. 5, "Hello" or True.

**Variable types**

**String**
* a string holds words, letters or any characters
* strings are written using single-quote (') or double-quote (")
* used for names, messages, lables etc.

In [ ]:
# Srting syntax
name = "Alana"
greeting = "Hello"
# These are string literals
# The string function is written as str() in Python

**Integer**
* integers are whole numbers (i.e. no decimals)
* can be positive or negative numbers
* integers are written without quotes

In [ ]:
# Integer syntax
age = 20
score = 100
# These are integer literals
# The integer function is written as int() in Python

**Float**
* float is a decimal number (a number with a decimal point)
* used when more precision is needed (e.g. measurements or monwey)
* also written without quotes

In [ ]:
# Float syntax
price = 19.99
height = 1.75
# These are float literals
# The float function is written as float() in Python

**Boolean**
* a boolean value holds one of two possible values: **True** or **False**
* used for logic and in conditional statements
* **True** and **False** must start with a capital letter

In [ ]:
# Boolean syntax
is_active = True
has_passed = False
# These are Boolean literals

**None**
* none means "nothing" or "no value yet assigned"
* often used when a variable needs to be defined but doesn't yet have a value
* **Nome** **must** start with a capital **N**

In [ ]:
# None syntax
result = None
print(result)
# This is the None literal

None

**Escape characters : working with special characters within a string**\
In Python, strings are usually written between quotation marks (' ', or " "). But sometimes, you might need to include special characters inside a stringâ€”like quotation marks, backslashes, or new lines. These charcters have a special meaning in Pyhton, so if you use them notmally, Python can get confused. An example of an "illegal" character is a double quote inside a string which is already started and ended with double quotes. Here is a line from Monty Python and the Holy Grail film to illustrate:

In [ ]:
print("But if he was dying, he wouldn't bother to carve /"Aargh"/, he would just say it.")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-531913735.py, line 1)

This statement would generate a syntax error because Python thinks the second double quote is the end of the string and doesn't expect the rest of the text. To fix this, Python uses the escape character, which is written as a backlash [\\], followed by a letter or symbol. This tells Python, "I want to include this special character in my string - not treat it like parte of the code." Using the escape character, the statement now looks like this:

In [ ]:
print("But if he was dying, he wouldn't bother to carve \"Aargh\", he would just say it.")

But if he was dying, he wouldn't bother to carve "Aargh", he would just say it.

Gemini 2.5 Flash fixing the **backslash** \: \
* Common escape characters include:

* \\: for a literal backslash
* \\' or \\": for single or double quotes within a string (need to be before each symbol)
* \n: for a new line
* \t: for a tab

**Examples:**

\\"  - inserts a double quote

In [ ]:
print("He said \"Hi!\"")

He said "Hi!"

\\" - inserts a single quote

In [ ]:
print('It\'s a lovely day!')

It's a lovely day!

\\\ - insert a backslash

In [ ]:
print("Pathc c:\\files")

Pathc c:\files

\\n - starts a new line

In [ ]:
print("Line one \nLine two")

Line one
Line two

\\t - adds a tab (like pressing the Tab key)

In [ ]:
print("Name: \tAlex")

Name: 	Alex

Or, to avoid errors, use a single quote outside, in case the string includes double quotes:

In [ ]:
print('She said "Hello!"')

She said "Hello!"

**Declaring data types**\
It is not necessary to declare what type of variable it is used in Python, it is worked out from the literal it is assigned to it.

In [ ]:
city = "Auckland" #Python knows this is a string
year = 2025 #Python knows this is a integer

But if it is assigned a different literal type to an existing variable, Python simply updates the type:

In [ ]:
value = 10 # Python lnowa "value" is a integer
value = "Ten" # Python knows "value" is a string

While this is a useful and powerful function, it is necessary to be careful when using variables, as changing types can cause unforeseen bugs in your program.

**Operators, Expressions and Functions**\
In order to manipulate data in Python we need to understand how to use operators and expressions to perform calculations and computations.

**Expressions vs Statements**\
In Python, you'll often hear the words expression and statement. These are two different kinds of insctructions you'll give to the computer in your code:

* An expression is a piece of code which produces a value, e.g.

In [ ]:
3 + 2 # This is an expression and returns the integer value 5

5

* A statement is a full instruction which does something, e.g.

In [ ]:
print("Hello")
>>>

Hello

In [ ]:
print("Welcome")
>>>

Welcome

\* Each print (...) line is a separate statement. It runs top to bottom, and you see the result straight away.

You can think of the difference in these terms:
* Expressions = answers
* Statements = instructions

**Operators**\
An opeator is a symbol or symbols which allow a specific operation to be implemented. This operation actson one or more operands. An operation using a single operand is known as a unary operator, whereas operations using two operands are known as a binart operator. An example of a unary operator is the (-) minus sign, which is used to declare a negative number:

In [ ]:
- 514.36
# This is the value returned as a unary operator
# -514.36 is the single operand

-514.36

The same symbol (-) can also be used as a binary operator, whenused in an **expression**:

In [ ]:
25-12
# This is the value returned as a binary operator
# 25 and 12 are two operands

13

**Using Operators and Functions in Python**\
Operators:\
Python uses operators to do maths and to make comparisons. You'll be using them a lot when you are writing code.\
Example1:

Note that the division operator (/) returns a floating number as a result, even if it is a whole number. The (/) operator is called the true division operator and always returns a float result. There is another operator, the floor division operator (or integer division operator) (//) which returns the largest interger less than or equal to the result:

In [ ]:
25-12
# This is the value returned as a binary operator
# 25 and 12 are the two operands

In [ ]:
print(7+5) #Addition operator, add two operands

12

In [ ]:
print(42/7) # Division operator, divides two operands

6.0

In [ ]:
print(12==12) # Equality operator, check if operands are equal

True

Note that the division operator (/) returns a floating - point number - even if the division is exact. This operator is called the **true division operator**. For integer results, Python provides the **floor division operator**(//), which returns the largest integer less than or equal to result:

In [ ]:
print(5/2)

2.5

In [ ]:
print(5.0/2.3)

2.173913043478261

In [ ]:
print(5//2)

2

In [ ]:
print(5//2.3)

2.0

**Basic Python Operators:**

* +adition - adds two operands

In [ ]:
3+2

5

* subtraction - subtracts the right number from the left

In [ ]:
7-4

3

* / multiuplication - multiplies two numbers

In [ ]:
5*2

10

* / (true) division - divides the left number by the right and returns a float

In [ ]:
24/6

4.0

* // (floor) division - divides the left number by the right and returns an integer

In [ ]:
7//2

3

* % modulus - finds the remainder after division5

In [ ]:
7%2

1

* \** exponent - raises a number to the power of the other

In [ ]:
2**3

8

* == equal to - checks if two values are the same

In [ ]:
5==5

True

* != not equal to - checks if two values are different

In [ ]:
5!=5

False

* > greater than - checks if the left number is greater than the right

In [ ]:
5>4

True

* < less than - checks if the left number is less than the right

In [ ]:
4<5

True

* \>= greater or equal - check if the left number is greater than or equal to the right

In [ ]:
5>=5

True

* \<= less than or equal - checks if the left number is less than or equal to the right

In [ ]:
5<=4

False

**Functions**\
Python has a number of built-in functions which can do useful things, from giving you a result of an expression to just displaying something on the screen:

In [ ]:
print("Hello World!")
# displays text on the screen

Hello World!

In [ ]:
print(abs(-7))
#abs() is a function which returns the absolute value (i.e. positive value) of a number

7

In [ ]:
print(pow(2,8))
# pow() os a function which raises the first operand to the power of the second

256

**Basic Python Functions:**

* print() - displays text or values on the screen

In [ ]:
print("Python is my programming language of choice!")

Python is my programming language of choice!

* input() - allows the user to type input into the computer

In [ ]:
name = input("What is your name?")

KeyboardInterrupt: Interrupted by user

* len() - counts how many items are in a string or a list

In [ ]:
len("python is my programming language of choive!")

44

* type() - shows the data type of a value

In [ ]:
type("Python is my programming language of choice!")

str

* int() - converts a value to an integer

In [ ]:
int("5")

5

* float() - converts a value to a float

In [ ]:
float("2.5")

2.5

In [ ]:
float("5")

5.0

* str() - converts a value to a string

In [ ]:
str(5)

'5'

* abs() - returns the positive value of a positive or negative number (integer or float)

In [ ]:
abs(-24)

24

In [ ]:
abs(24)

24

* round() - rounds a number to the nearest whole number

In [ ]:
round(3.6)

4

In [ ]:
round(3.4)

3

* pow() - raises a number to a power

In [ ]:
pow(2,4)

16

* max() - finds the biggest number in a list

In [ ]:
max(4,7,1,12)

12

* min() - finds the smallest number in a list

In [ ]:
min(4,7,1,12)

1

**Input and output**\
Generally, when writing a Python program you will need the user to input information and then generate output. There are two simple functions provided within Python to d this.

*Input*\
The **input()** function lets the program ask the user for information and stores the response in a variable. By default, it always returns the response as a **string**.

In [ ]:
name = input('What is your name?')

KeyboardInterrupt: Interrupted by user

**Note:** The **input()** function always returns the user's response as a string. If you are expecting a numerical response, you need to convert it using **int()** or **float()**.

In [ ]:
name = input('What is your name?')

In [ ]:
age = int(input('How old are you?'))

In [ ]:
height = float(input('How tall are you?'))

***print()*** **Function**\
The **print()** function displays messages and outputs on the screen.

In [ ]:
 print('Welcome to the course!')

Welcome to the course!

**Example: using *print()* and *input()* together**\
Here's an example of code prompting a user for some basic information and then displaying it in the screen:

In [ ]:
# Prompt user for their name
name = input("What is your name? ")

# Prompt user for their age as an integer
age = int(input("How old are you? "))

# Prompt user for their height as a floating number
height = float(input("How tall are you (in metres)? "))

# Display information on the screen
print("Welcome to the course,", name)
print("Your age and height are:", age, "years old, and", height, "m. tall")

What is your name? Leticia
How old are you? 20
How tall are you (in metres)? 1.69
Welcome to the course, Leticia
Your age and height are: 20 years old, and 1.69 m. tall

Now try entering an unexpected data type into the age field (e.g. enter a decimal value instead of an integer) and note what happens.

**Exceptions and Syntax Errors**\
If you completed the previous activity and entered an unexpected data type into one of the fields, you will have seen an error message appear on the screen. Python code is designed to be user-friendly, i.e. easy to write and to read. Despite this, you will certainly make mistakes in coding which generate error messages - this is totally normal and part of learning to code. Python will let you know where the mistakes is, and what kind of error it is.

**Syntax Errors:**\
Syntax errors (sometimes called parsing errors) are extremely common to generate whilst are learning Python (and even when you are a seasoned coder!) and occur when the syntax of your code doesn't match with what Python expects. Some syntax error messages you are certain to encounter include:

**Missing Quotes**\
*Error message*

In [ ]:
print("Hello)
SyntaxError: unterminated string literal (detected at line 1)

**How to fix:**\
Check string literal termination (i.e. make sure quotes match - opening and closing)

```
print('Hello')
Hello
```

**Missing Colon**\
Some Python lines end with a colon. [:]


*   The colon tells Python that a block of code will follow on the next line, indented.
*   You will use colons later when we learn about things like [if] and [for] etc.
*  Missing colon errors will give an error message like this:

```
# if True
SyntaxError: expected ':'
```

In [1]:
if True:
  print("ok")

ok

**Incorrect Indentation**\
Error message

```
# print('Hi Alex')
Hi Alex
    print('Hi Johnny')
SyntaxError: unexpected ident
```
**How to fix**\
Remember not to indent code which shouldn't be indented. When writing blocks of code, you'll also need to remember that Python can't interpret code which belongs together if it isn't indented properly.

In [2]:
print('Hi Alex')

Hi Alex

In [3]:
print('Hi Johnny')

Hi Johnny

**Wrong Capitalisation**\
Error message

```
# complete=false
NameError: name 'false' is not defined. Did you mean: 'False'?
```
**How to fix:**\
Python keywords are case-sensitive, so check that you have capitalised the first letter of keywordscorrectly. Common examoples are *True*, *False*, *None*.

In [4]:
complete=False

**Undeclared Variable**\
Error message

```
# print(score)
NameError: name 'score' is not defined
```
**How to fix:**\
Make sure the variable you want to refer to has been declared before you invoke it.

In [5]:
score=10
print(score)

10

**Extra or Missing Parentheses**\
Error message

```
# print "Hello World!"
SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)?
```
**How to fix:**\
Ensure you  have used parentheses in functions where they are expected.

In [6]:
print('Hello World!')

Hello World!

Notice Python is very helpful in guiding you to what is wrong in the code and to suggesting ways to fix it.